<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатели</title>
</head>
<body>
<hr/>
<a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="/people">Читатели</a><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="/books">Книги</a>
<br><hr/>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()} + ', ' + ${person.getYearOfBirth()}">user</a>
</div>
<hr/>
<a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="/people/new">Добавить читателя</a>
<br><hr/>
</body>
</html>